<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409368065859-pdlndo0975bou5n7p5sq1bhgb2l5r2mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409368065859-pdlndo0975bou5n7p5sq1bhgb2l5r2mu</string>
	<key>API_KEY</key>
	<string>AIzaSyDC8tUuO9s_NWd29FVN9p6hkWJHHQrihbE</string>
	<key>GCM_SENDER_ID</key>
	<string>409368065859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattpandolfo.InventoryApp</string>
	<key>PROJECT_ID</key>
	<string>stockify-33d39</string>
	<key>STORAGE_BUCKET</key>
	<string>stockify-33d39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409368065859:ios:be0c0f7af8a7582b7221f6</string>
</dict>
</plist>